/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', monospace;
}

html {
  background-image: url('https://i.ytimg.com/vi/UNOmaFs6KaY/maxresdefault.jpg');
  background-size: cover;
  height: 100%;
}
/* Root App */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
}

.App img {
  padding: 10px;
}

/* Main Component */

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 70%);
  border: 1px solid black;
  border-radius: .5%;
}

/* SearchBar Component */

.search-bar {
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  padding: 20px;
  border-bottom: 2px solid darkblue;
}

.search-bar input {
  border: none;
  border-radius: 2%;
  padding: 5px;
}

.search-bar button {
  height: 30px;
  width: 80px;
  background-color: #fcfbfe;
  color: #0c164f;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.8);
  border: none;
  border-radius: 2%;
}

.filter-list {
  margin-top: 15px;
  padding: 5px;
}

.search-bar button:hover {
  background-color: #0c164f;
  color: #fcfbfe;
  transition: 0.3s;
  cursor: pointer;
}

/* Display Component */ 

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/* Search Component */

.search {
  width: 50%;
  padding: 5px;
}

.search input {
  margin-right: 10px;
}

.filter-box {
  margin-bottom: 10px;
  padding: 5px;
  margin-right: 15px;
}
