html {
  background-image: url('https://i.ytimg.com/vi/UNOmaFs6KaY/maxresdefault.jpg');
  background-size: cover;
  height: 100%;
}
/* Root App */

.App {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
}

.App h1 {
  color: whitesmoke;
}

/* Main Component */

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 70%)
}

/* SearchBar Component */

.search-bar {
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

/* Display Component */ 

.display {
  margin-bottom: 10px;
  height: 100vh;
}

/* Search Component */

.search {
  width: 50%;
  padding: 5px;
}

.search input {
  margin-right: 10px;
}

/* Filter Component */

.filter {
  margin-bottom: 10px;
  padding: 5px;
  margin-right: 15px;
}
